<html>

    <link rel ="stylesheet" href ="css/style.css"

    <head>
        <div id="head">
            <center><h1>WELCOME TO THE LOCAL PIZZA EATERY</h1>
            <h2>"Made by humans, for human consumption."</h2></center>
        </div>
    </head>

    <body>
        <div id="orderTime">
            <form method="post" action="/order">
                <h3>What size is your hunger, fellow human?</h3><br>
                    <input type="radio" name="pizSize[]" value="Small">Small<br>
                    <input type="radio" name="pizSize[]" value="Medium">Medium<br>
                    <input type="radio" name="pizSize[]" value="Large">Large<br>
                    <input type="radio" name="pizSize[]" value="X-Large">X-Large<br>

                <h3>What [CRUST] do you want for your pizza-substance built on?</h3><br>
                    <input type="radio" name="crustType[]" value="Hand&nbsp;Tossed">Hand Tossed<br>
                    <input type="radio" name="crustType[]" value="Thin">Thin<br>
                    <input type="radio" name="crustType[]" value="Pretzel">Pretzel<br>
                    <input type="radio" name="crustType[]" value="Stuffed&nbsp;Crust">Stuffed Crust<br>

                <h3>What viscous liquid should cover the [CRUST]?</h3><br>
                    <input type="radio" name="sauces[]" id="mari" value="marinara">Marinara
                        <label for="mari"><img src="img/marinara.jpg" height="35" width="35"></label><br>
                    <input type="radio" name="sauces[]" id="bbq" value="bbq">BBQ
                        <label for="bbq"><img src="img/bbq.jpg" height="35" width="35"></label><br>
                    <input type="radio" name="sauces[]" id="tape" value="tapenade">Tapenade
                        <label for="tape"><img src="img/tapenade.jpg" height="35" width="35"></label><br>
                    <input type="radio" name="sauces[]" id="pump" value="pumpkin">Pumpkin
                        <label for="pump"><img src="img/pumpkin.jpg" height="35" width="35"></label><br>
                    <input type="radio" name="sauces[]" id="none4" value="none">None
                        <label for="none4"><img src="img/none.png" height="25" width="25"></label><br>

                <h3>What curdled dairy product should be added? (Check as many as you want)</h3><br>
                    <input type="checkbox" name="cheese[]" id="mozz" value="mozzarella">Mozzarella
                        <label for="mozz"><img src="img/mozzarella.jpg" height="35" width="35"></label><br>
                    <input type="checkbox" name="cheese[]" id="prov" value="provolone">Provolone
                        <label for="prov"><img src="img/provolone.jpg" height="35" width="35"></label><br>
                    <input type="checkbox" name="cheese[]" id="ched" value="cheddar">Cheddar
                        <label for="ched"><img src="img/cheddar.jpg" height="35" width="35"></label><br>
                    <input type="checkbox" name="cheese[]" id="swiss" value="swiss">Swiss
                        <label for="swiss"><img src="img/swiss.jpg" height="35" width="35"></label><br>
                    <input type="checkbox" name="cheese[]" id="none3" value="none">None
                        <label for="none3"><img src="img/none.png" height="25" width="25"></label><br>

                <h3>What other carbon-based lifeforms would you enjoy to intake? (Check as many as you want)</h3><br>
                    <input type="checkbox" name="meat[]" id="pepperoni" value="pepperoni">Pepperoni 
                        <label for="pepperoni"><img src="img/pepperoni.jpg" height="35" width="35"></label><br>
                    <input type="checkbox" name="meat[]" id="beef" value="beef">Beef 
                        <label for="beef"><img src="img/beef.jpg" height="35" width="35"></label><br>
                    <input type="checkbox" name="meat[]" id="bacon" value="bacon">Bacon 
                        <label for="bacon"><img src="img/bacon.jpg" height="35" width="35"></label><br>
                    <input type="checkbox" name="meat[]" id="ham" value="ham">Ham
                        <label for="ham"><img src="img/ham.jpg" height="35" width="35"></label><br>
                    <input type="checkbox" name="meat[]" id="none" value="none">None
                        <label for="none"><img src="img/none.png" height="25" width="25"></label><br>          

                <h3>What ground products should be put on your nourishment? (Check as many as you want)</h3><br>
                    <input type="checkbox" name="veg[]" id="onion" value="onions">Onions
                        <label for="onion"><img src="img/onions.jpg" height="35" width="35"></label><br>
                    <input type="checkbox" name="veg[]" id="shroom" value="mushrooms">Mushrooms
                        <label for="shroom"><img src="img/mushrooms.jpg" height="35" width="35"></label><br>
                    <input type="checkbox" name="veg[]" id="spin" value="spinach">Spinach
                        <label for="spin"><img src="img/spinach.jpg" height="35" width="35"></label><br>
                    <input type="checkbox" name="veg[]" id="pep" value="peppers">Peppers
                        <label for="pep"><img src="img/peppers.jpg" height="35" width="35"></label><br>
                    <input type="checkbox" name="veg[]" id="olive" value="olives">Olives
                        <label for="olive"><img src="img/olives.jpg" height="35" width="35"></label><br>
                    <input type="checkbox" name="veg[]" id="none2" value="none">None
                        <label for="none2"><img src="img/none.png" height="25" width="25"></label><br>

                <h3>Is this delivery?</h3><br> 
                    <input type="radio" name="deliver" value="Yes" checked="checked">Yes<br>
                    <input type="radio" name="deliver" value="No">No<br>
                    <p>Address: <input type="post" name="address" placeholder="Enter address"></p>

                    <center><input type="submit" value="Place Order"></center>
            </form>
        </div>
    </body>

    <footer>

    </footer>

</html>