<html>

    <head>
        <center><h1>WELCOME TO THE LOCAL FOOD EATERY, FELLOW HUMAN</h1>
        <h2>"Made by humans, for humans"</h2></center>
    </head>

    <body>
        What type of crust would you like for your pizza-substance?
        <form method="post" name="crust">
            <input type="radio" name="crustType[]" value="Hand_Tossed">Hand Tossed<br>
            <input type="radio" name="crustType[]" value="Thin">Thin<br>
            <input type="radio" name="crustType[]" value="Pretzel">Pretzel<br>
            <input type="radio" name="crustType[]" value="Stuffed_Crust">Stuffed Crust
        </form>
    </body>

    <footer>

    </footer>

</html>